
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
}
.center {
    display: flex;
    width: 100%;
}
.player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 290px;
    height: 520px;
    margin: 10px;
    border: 2px solid rgb(63, 62, 62);
    border-radius: 10%;
    box-shadow: 10px 10px 3px black;
    background-image: linear-gradient(gray, black);
}

.center_titulos {
    color: #fff;   
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.autor {
    width: 100%;
    margin: 0;
}
.tema_music {
    width: 100%;
    margin: 0;
}
.cover {
    width: 70%;
    height: auto;
    border-radius: 50%;
    border-top: 10px groove rgb(34, 34, 34);
    border-left: 10px groove rgb(37, 37, 37);
    box-shadow: -5px -5px 10px rgb(82, 81, 81);      
}
.progressBar_content {
    width: 70%;
    height: 5px;
    background-color: gray;
}
.progressBar {
    width: 40%;
    height: 100%;
    background-color: blueviolet;
}
button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 22px;
    border: none;
    box-shadow: 2px 2px 3px rgb(82, 81, 81);    
}

.lista {
    width: 400px;
    list-style-type: upper-roman;
    color: rgb(255, 255, 255);
}

a {
    color: #fff;
    text-decoration: none;
}
